<p> <%= render @post.categories  %></p>

<p id="notice"><%= notice %></p>

<p><%= render 'shared/content_title', title: @post.title  %></p>

<p>What Happened:<br>
  <%= @post.setting  %>
</p>
<p>What I Said/Did: <br>
  <%= @post.reaction  %>
</p>
<p>What I Should Have Said:<br>
  <%= @post.description  %>
</p>

<hr/>

<p><small>posted by</small> <%= @post.user.username %></p>

<p>Comments:<br>

<%= @comments.each do |comment|  %>
<%= comment.body %>
<hr>
</p>
<%  end  %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
