<p> <%= render @post.categories  %></p>

<p id="notice"><%= notice %></p>

<p><%= render 'shared/content_title', title: @post.title  %></p>

<p>
  <%= @post.description  %>
</p>

<hr/>

<p><%= @post.user.username %></p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
